.col, [class*="col-"]{
    border: 1px solid red;
    min-height: 100px;
}
.container{
    margin-top: 50px;
}
.height1{
    height: 200px;
}

.height2{
    height: 300px;
}

.height3{
    height: 150px;
}